<div class="container">
  <div class="col-md-8 col-md-offset-2">

    <h1 id="index_h1" class="inline-headers"> Listing all companies </h1>

    <%= render 'company', companies: @companies %>
  </div>
</div>
