<table id="resource-table">
  <tr>
    <th>Resource</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  <tr>
    <td><%= resource.name %></td>
    <td id="pre-reservation-date"><%= state ? state.date : '' %></td>
    <td id="pre-reservation-time"><%= block ? block.start_time.strftime("%H:%M") : '' %></td>
  </tr>
</table>
