<h1>Form</h1>
<form>
  <div>
    <label for="name">Full name</label>
    <input type="text" id="name" placeholder="Full name" required/>
  </div>
  <div>
    <label for="mail">Mail</label>
    <input type="mail" id="mail" placeholder="Mail" required/>
  </div>
  <div>
    <label for="phone">Phone</label>
    <input type="text" id="phone" placeholder="+569" required/>
  </div>
  <div>
    <label for="comment">Comment</label>
    <textarea> </textarea>
    
  </div>
  <div>
    <button id="reservation-btn">Submit</button>
  </div>
</form>