// Place all the styles related to the Blocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$available-bg-color: lightgreen;
$unavailable-bg-color: red;

.block {
  cursor: pointer;
  margin: 5px 0px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.available {
  background-color: $available-bg-color;

  &:hover {
    background-color: darken($available-bg-color, 10%);
  }

  &:active {
    background-color: darken($available-bg-color, 30%);
  }
}

.not-available {
  background-color: $unavailable-bg-color;

  &:hover {
    background-color: darken($unavailable-bg-color, 10%);
  }

  &:active {
    background-color: darken($unavailable-bg-color, 30%);
  }
}
